section {
	width: 300px;
}

.sign-in-title {
	color: #1d4153;
	font-family: 'IBM Plex Serif';
	font-weight: normal;
	text-align: center;
	margin-bottom: 32px;
}

.sign-in-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

ui-input {
  margin-bottom: 16px;
}

ui-button {
  margin: 16px 0;
}
