.ui-button {
  display: inline-block;
}

.ui-button-el {
  --color: #fff;
  --bg: #265973;
  --shadow: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: var(--bg);
  border-radius: 4px;
  border: none;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  color: var(--color);
  font: bold 16px 'IBM Plex Sans';
  outline: none;
  padding: 0 32px;
  transition: background-color 300ms;
  width: 100%;
}

.ui-button-el:focus:not(:disabled) {
  --shadow: 0 0 0 3px #84d1eb;
}

.ui-button-el:hover:not(:disabled) {
  cursor: pointer;
  --bg: #3186AF;
  --shadow: 0px 8px 15px 1px rgba(150, 150, 150, 0.25);
}

.ui-button-el:active:not(:disabled) {
  --bg: #3186AF;
  --shadow: 0px 4px 5px 1px rgba(150, 150, 150, 0.6);
}

.ui-button-el:disabled {
  cursor: not-allowed;
  --bg: #C9DFE8;
}

.ui-button-el__secondary {
  --bg: #FFFFFF;
  color: #265973;
  border: 2px solid #265973;
}

.ui-button-el__secondary:hover:not(:disabled) {
  --bg:#FFFFFF;
  color: #3186AF;
  border-color: #3186AF;
}

.ui-button-el__secondary:disabled {
  --bg: #FFFFFF;
  color: #9EBDCB;
  border-color: #9EBDCB;
}

.ui-button-el__small {
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
}
